@flexPrefixCls: flex-styles;

.@{flexPrefixCls} {
  display: flex;
  // justify
  &&-j-around {
    justify-content: space-around;    
  }
  &&-j-between {
    justify-content: space-between;
  }
  &&-j-start {
    justify-content: flex-start;
  }
  &&-j-end {
    justify-content: flex-end;
  }
  &&-j-center {
    justify-content: center;
  }
  &&-j-evenly {
    justify-content: space-evenly;
  }
  // align-items
  &&-a-start {
    align-items: flex-start;
  }
  &&-a-end {
    align-items: flex-end;
  }
  &&-a-center {
    align-items: center;
  }
  // wrap
  &&-wrap {
    flex-wrap: wrap;
  }
  &&-nowrap {
    flex-wrap: nowrap;
  }
}
